.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes full height of its parent */
    min-height: 100vh; /* Fallback to ensure it covers the viewport */
    background-size: cover;
    background-position: center;
    width: 100vw;
  }

.main-heading {
    font-size: 2.5rem;  /* Large text */
    font-weight: bold;
    color:#ff5733;;  /* Dark text */
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button {
    display: block;
    margin: 0 auto; /* Center the button */
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient button */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #ff512f, #dd2476);
}
